
<div ng-show="authenticated">
	<div id="postdiv">
		<h4>Users information</h4>
		<form id="usersInfoForm" ng-submit="controller.submitUsersInfo()">
			<label>FirstName</label> <input type="text" id="firstname"
				class="form-control" ng-model="controller.firstname" /> <label>LastName</label>
			<input type="text" id="lastname" class="form-control"
				ng-model="controller.lastname" /> <br />
			<button type="submit" id="postBtn" class="btn btn-primary">Submit</button>

		</form>
		<br/>
		<div id="postResultDiv">
		{{controller.addusersinfo}}
		</div>
		<br />
		<div id="getdiv">
			<!-- <form id="loadCustomersForm" ng-submit="controller.loadCustomers()">
				<button id="getBtn" class="btn btn-primary">List all
					usersinfos</button>
			</form> -->

			<br />
			<h4>Users stored in the database</h4>
			<ul ng-repeat="usersinfo in allusersinfo | orderBy: 'firstname' ">
				<li>{{usersinfo.firstname}} {{usersinfo.lastname}}</li>
			</ul>

		</div>

	</div>
</div>
<div ng-show="!authenticated" class="alert alert-danger">
	<div ng-controller="navigation as nav" class="container">
		<p>
			You need to <a href="" ng-click="nav.openLogin()">login</a> first.
		</p>
	</div>
</div>